.bar-slider, .bar-slider-mobile {
  display: flex;
  margin-bottom: 7%;
  position: relative;
  width: 80%;
  margin: auto;
  margin-bottom: 9%;
}
.bar-slider .slider, .bar-slider-mobile .slider {
  -webkit-appearance: none;
  width: 100%;
  height: 12px;
  outline: none;
  border-radius: 50px;
  background: #eaeefb;
}
.bar-slider .slider::-webkit-slider-thumb, .bar-slider-mobile .slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 48px;
  height: 48px;
  cursor: pointer;
  z-index: 3;
  position: relative;
}
.bar-slider input::-moz-range-thumb, .bar-slider-mobile input::-moz-range-thumb {
  background-color: transparent;
  width: 68px;
  height: 68px;
  cursor: pointer;
  z-index: 900;
  position: relative;
  border: none;
}
.bar-slider #selector, .bar-slider-mobile #selector {
  pointer-events: none;
  height: 104px;
  width: 48px;
  position: absolute;
  bottom: -20px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 2;
}
.bar-slider #selector .selectBtn, .bar-slider-mobile #selector .selectBtn {
  height: 48px;
  width: 48px;
  border-radius: 50px;
  position: absolute;
  bottom: 0;
  background-color: #10d5c2;
  display: flex;
  justify-content: space-around;
  align-items: center;
  box-shadow: -1px 11px 22px #a5f3eb;
}
.bar-slider #selector .selectBtn i, .bar-slider-mobile #selector .selectBtn i {
  color: #a5f3eb;
}
.bar-slider #progressBar, .bar-slider-mobile #progressBar {
  width: 50%;
  height: 12px;
  background-color: #a5f3eb;
  border-radius: 50px;
  position: absolute;
  top: 2px;
  left: 0;
}

.badge, .badge-mobile {
  font-size: 10px;
  font-weight: 800;
  background-color: #feece7;
  color: #ff8c66;
  padding: 5px 7px;
  border-radius: 10px;
  margin-left: 7px;
}

.badge-mobile {
  display: none;
}

body {
  font-family: "Manrope", sans-serif;
  margin: 0;
  position: relative;
  overflow: hidden;
  background-color: #fafbff;
}
body p {
  font-size: 15px;
  color: #858fad;
  margin: 0;
  display: flex;
  align-items: center;
}
body .img-background {
  overflow: hidden;
}
body .img-background img {
  width: 100%;
}
body .header {
  position: absolute;
  height: 230px;
  top: 0%;
  left: 0;
  right: 0;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  line-height: 10px;
}
body .header img {
  position: absolute;
}
body .header h1 {
  font-weight: 800;
  font-size: 28px;
  color: #293356;
}
body .header h1, body .header p {
  z-index: 5;
}
body .main {
  position: absolute;
  margin: auto;
  left: 0;
  right: 0;
  top: 55%;
  width: 41%;
  height: auto;
  border-radius: 15px;
  box-shadow: #eaeefb 0px 0px 100px;
  background-color: white;
}
body .main header {
  padding: 40px 55px;
  display: flex;
  justify-content: space-between;
}
body .main header .page-views {
  text-transform: uppercase;
  font-weight: 600;
  font-size: 15px;
  letter-spacing: 2px;
}
body .main header .page-views span {
  margin-right: 10px;
}
body .main header .month {
  font-size: 15px;
}
body .main header .month span {
  font-size: 50px;
  color: #293356;
  font-weight: 800;
}
body .main .body {
  display: flex;
  flex-direction: column;
}
body .main .body .infos-bar {
  height: 20px;
  width: 70%;
  margin: auto;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  padding-bottom: 8%;
}
body .main .body .infos-bar .monthly-billing {
  margin-right: 20px;
  display: flex;
}
body .main .body .infos-bar .monthly-billing .toggle {
  width: 35px;
  height: 20px;
  background-color: #eaeefb;
  border-radius: 40px;
  margin-left: 7px;
  display: flex;
  align-items: center;
  padding: 1px 3px;
}
body .main .body .infos-bar .monthly-billing .toggle .circle-toggle {
  height: 15px;
  width: 15px;
  z-index: 10;
  background-color: white;
  border-radius: 50px;
}
body .main .hr {
  background-color: #eaeefb;
  margin: 0;
  width: 100%;
  height: 1px;
}
body .main footer {
  padding: 40px 55px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
body .main footer .items-checked {
  font-weight: 600;
}
body .main footer .items-checked p svg {
  margin-right: 17px;
}
body .main footer .btn-start {
  background-color: #293356;
  border-radius: 50px;
  border: none;
  height: 45px;
  width: 181px;
  color: #858fad;
  font-size: 14px;
  font-weight: 600;
}

@media (min-width: 1201px) and (max-width: 1300px) {
  body .img-background img {
    width: auto;
  }
  body .main {
    width: 50%;
  }
}
@media (min-width: 951px) and (max-width: 1200px) {
  body .img-background img {
    width: auto;
  }
  body .main {
    width: 55%;
  }
}
@media (min-width: 711px) and (max-width: 950px) {
  body .img-background img {
    width: auto;
  }
  body .main {
    width: 75%;
  }
}
@media (min-width: 0px) and (max-width: 710px) {
  body {
    background-color: #fafbff;
  }
  body .img-background {
    width: 100%;
    overflow: hidden;
  }
  body .img-background img {
    width: auto;
  }
  body .header h1 {
    font-size: 20px;
  }
  body .header p {
    width: 51%;
    line-height: 16px;
    text-align: center;
  }
  body .main {
    width: 90%;
    box-shadow: #eaeefb 0px 0px 12px;
  }
  body .main header {
    flex-direction: column;
    align-items: center;
    padding: 40px 27px;
  }
  body .main header .mobile {
    display: flex;
  }
  body .main header .page-views {
    font-size: 13px;
  }
  body .main header .month span {
    font-size: 33px;
  }
  body .main .body .infos-bar {
    width: 85%;
    padding-bottom: 13%;
    justify-content: center;
  }
  body .main .body .infos-bar p {
    font-size: 13px;
  }
  body .main .body .infos-bar .monthly-billing {
    margin-right: 10px;
  }
  body .main .body .infos-bar .yearly-billing .badge, body .main .body .infos-bar .yearly-billing .badge-mobile {
    display: none;
  }
  body .main .body .infos-bar .yearly-billing .badge-mobile {
    display: block;
  }
  body .main footer {
    flex-direction: column;
    padding: 30px 55px;
  }
  body .main footer .items-checked {
    display: flex;
    flex-direction: column;
    align-items: center;
    line-height: 27px;
  }
  body .main footer .btn-start {
    margin-top: 40px;
    font-size: 14px;
  }
}

/*# sourceMappingURL=style.css.map */
