@media (min-width: 1201px) and (max-width: 1300px) {
    body {
        .img-background img{
            width: auto;
        }
        .main {
            width: 50%;
        }
    }
}
@media (min-width: 751px) and (max-width: 1200px) {
    body {
        .img-background img{
            width: auto;
        }
        .main {
            width: 55%;
            .infos-bar {
                width: 90%;
            }
        }
    }
}
@media (min-width: 531px) and (max-width: 750px) {
    body {
        .img-background img{
            width: auto;
        }
        .main {
            width: 75%;
            .infos-bar {
                width: 100%;
            }
        }
    }
}
@media (min-width: 0px) and (max-width: 530px) {
    body {
        background-color: $very-pale-blue;
        .img-background {
            width: 100%;
            overflow: hidden;
            img {
                width: auto;
            }
        }
        .header {
            top: 0;
            h1 {
                font-size: 20px;
            }
            p {
                width: 51%;
                line-height: 16px;
                text-align: center;
            }
        }
        .main {
            grid-template-columns: 1fr;
            grid-template-rows: 1fr 0.8fr 1fr 1fr 0.2fr 1fr;
            width: 74%;
            box-shadow: #eaeefb 0px 0px 12px;
            padding: 20px 30px;
            height: 528px;
            margin-top: -41px;
            top: 33%;
                .page-views {
                    justify-content: center;
                    font-size: 13px;
                    height: 90px;
                }
                .month {
                    grid-column: 1/span 1;
                    grid-row: 3/span 1;
                    justify-content: center;
                    height: 59px;
                    span {
                        font-size: 33px;
                    }
                }
                .bar-slider {
                    margin-bottom: 11%;
                    #selector {
                        bottom: -11px;
                    }
                }
                .infos-bar {
                    grid-row: 4/span 1;
                    margin: 0;
                    width: 100%;
                    padding-bottom: 0;
                    justify-content: center;
                    margin-top: 4%;
                    p {
                        font-size: 10px;
                    }
                    .monthly-billing {
                        margin-right: 10px;
                    }
                    .yearly-billing {
                        .badge {
                          display: none;
                        }
                        .badge-mobile {
                            display: block;
                        }
                    }
                }
                .hr {
                    grid-row: 5 / span 1;
                }
            footer {
                flex-direction: column;
                padding: 23px 45px;
                grid-row: 6 / span 1;
                .items-checked {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    line-height: 27px;
                    font-size: 12px;
                }
                .btn-start {
                    margin-top: 40px;
                    font-size: 14px;
                }
            }
        }
    }
}