.bar-slider {
    grid-column: 1 / span 2;
    grid-row: 2 / span 1;
    display: flex;
    margin-bottom: 7%;
    position: relative;
    width: 100%;
    margin: auto;
    margin-bottom: 12%;
    margin-top: 2%;
     .slider {
        -webkit-appearance: none;
        width: 100%;
        height: 12px; 
        outline: none;
        border-radius: 50px;
        background: $light-grayish-blue-slider
     }
     .slider::-webkit-slider-thumb {
        -webkit-appearance: none;
        width: 48px;
        height: 48px;
        cursor: pointer;
        z-index: 3;
        position: relative;
     }
     input::-moz-range-thumb {
        background-color: transparent;
        width: 68px;
        height: 68px;
        cursor: pointer;
        z-index: 900;
        position: relative;
        border: none;
    }
     #selector {
         pointer-events: none;
         height: 104px;
         width: 48px;
         position: absolute;
         bottom: -20px;
         left: 50%;
         transform: translateX(-50%);
         z-index: 2;
         .selectBtn {
             height: 48px;
             width: 48px;
             border-radius: 50px;
             position: absolute;
             bottom: 0;
             background-color: $strong-cyan;
             display: flex;
             justify-content: space-around;
             align-items: center;
             box-shadow: -1px 11px 22px #a5f3eb;
             i {
                color: $soft-cyan;
             }
         }
     }
     #progressBar {
         width: 50%;
         height: 12px;
         background-color: $soft-cyan;
         border-radius: 50px;
         position: absolute;
         top: 2px;
         left: 0;
     }
}
